/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */

#container
{
    border: none;
    width: 630px;
    height: 630px;
    margin: auto;
    background-color: #fcfaf4;
}

#topbar
{
    width: 600px;
    height: 22px;
    background-color:#51473d;
    font-family: verdana;
    font-size: 10px;
    font-style: italic;
    color: #eae7d2;
    margin-left:15px;
    text-align:right;
}

#menu
{
    width: 600px;
    height: 238px;
    background-color:#51473d;
    background-image: url(../css/pics/coffey.jpg);
    background-repeat: no-repeat;
    margin-left:15px;
}

ul{
    margin: 0;
    list-style: none;
}

#menu li a
{
margin-top: 200px;
float:left;
text-align:center;
text-decoration:none;
font-family:verdana;
font-size: 17px;
padding: 9px;
color:#eae7d2;
background-color:#797066;
border-right:1px solid #51473d;
}

#menu a:hover 
{
    background-color:#eae7d2;
    color: #51473d;
}

.active 
{
    background-color: #eae7d2;
    color: #51473d;
}

#menu > a
{
    display:none;
}
#maincontent
{
    float:left;
    width: 340px;
    height: 480px;
    background-color:#eae7d2;
    margin-left:15px;
}

#content
{
   
}

#subcontent
{
    float:left;
    border-left: 1px dashed silver;
    width: 260px;
    height: 480px;
    background-color:#eae7d2;
}

#bottomcontent
{
    clear:both;
    width: 600px;
    height: 40px;
    background-color: #eae7d2;
    margin: 15px;
    color: #797066;
    font-family:verdana;
    font-size:9px;
    text-indent: 10px;
}

#maincontent h1 
{
    color:#797066;
    font-size: 35px;  
    font-family: times;
    margin-left: 10px;
    font-weight: 500;
}

#maincontent p 
{
    color:#797066;
    font-size: 14px;
    line-height: 1.7em;
    font-family: verdana;
    margin-left: 15px;
}

#maincontent img
{
    padding-right: 5px;
    margin-left: 10px;
    float:left;
}

#subcontent h1
{
    margin-top: 35px;
    color:#51473d;
    font-size: 20px;  
    font-family: times;
    margin-left: 10px;
    font-weight: 500;
}

#subcontent h2 
{
    color:#51473d;
    font-size: 15px;  
    font-family: times;
    margin-left: 10px;
    font-weight: 500;
    margin-top: 60px;
}

#subcontent p
{
    color:#797066;
    font-size: 9px;
    line-height: 2.3em;
    font-family: verdana;
    margin-left: 10px;
    margin-right: 10px;
}

#subcontent a
{
    list-style:none;
    margin:-30px;
    font-family:verdana;
    font-size: 14px;
    line-height: 2em;
}
a:link {color:000000;}
a:visited {color:#000000;}






